// close button styles
// must placed in a container with position = relative or fixed
triggerButton = @block
    border: none
    background-color: transparent
    color: $colour.default
    cursor: pointer

topRightButton = @block
    position: absolute
    z-index: 2
    top: 1em
    right: @top
