*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    padding-top: 50px // approximate header height (which is fixed-positionned)

img
    display block // prevents from vertical alignment problem
    max-width: 100%
    height: auto
