html
    font-size: 62.5%

body
    color: $colour.default
    font-family: $font.body
    font-size: unit($fontsize, 'em')
    line-height: 1.7
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale /* FF */

h1
h2
h3
    font-weight: bold
    text-transform: uppercase
    line-height: 1.2

h1
    font-size: 2.714em
    margin-bottom: 0

h2
    font-size: 1.78em

h3
    font-size: 1.23em
    color: $colour.crystal

address
    font-size: .93em
    font-style: normal
    line-height: 1.2
