$gutter = 1.2rem
$columns = 12 // number of columns
$screen = {
    xs:  "screen and (max-width: 415px)", // < 416px
    sm:  "screen and (max-width: 767px)", // < 768px
    md: "screen and (min-width: 768px)",  // > 768px
    lg:  "screen and (min-width: 960px)"  // > 960px
}

// fonts
$fontsize = 1.5rem
$font = {
    body: unquote('Arial, Helvetica, sans-serif'),
    heading: unquote('Arial, Georgia, Times, serif')
}

// colours
$colour = {
    default: #32373a,
    pink: #bd0650,
    yellow: #fcc300,
    purple: #938c8f
}
