// Block helpers
// Responsive
.responsive
    {responsive}

// Display
.hidden
    display: none

// Alignments
.align-center
    text-align: center

    > img // we need to force it as <img> is set to display: block
        margin-right: auto
        margin-left: auto


.align-right
    text-align: right

    > img
        margin-left: auto


// Float and clear
.clearfix
    {clearfix}

.float-right
    float: right

.float-left
    float: left

// Backgrounds
.bg-grey
    background-color: #f1eff0
