// Grid helpers
for breakpoint, query in $screen
    @media query
        // display
        .show-{breakpoint}
            display: block

        .hide-{breakpoint}
            display: none

        .align-center-{breakpoint}
            text-align: center

        .float-right-{breakpoint}
            float: right

        .float-left-{breakpoint}
            float: left

        .{breakpoint}-auto
            width: auto

        // column sizes
        for i in (1..$columns)
            .{breakpoint}-{i}
                _column(i)

            .{breakpoint}-offset-{i}
                _offset(i)

