.wrap
.wrap-medium
.wrap-small
    width: 100%
    margin-right: auto
    margin-left: auto

.wrap
    width: 100%
    max-width: 1070px
    padding-right: 1em
    padding-left: 1em

@media $screen.lg
    //.wrap-medium
    //    _column(10)

    .wrap-small
        _column(6)
