.featured
    display: flex
    flex-direction: column

    &-item
        height: 120px
        margin-bottom: 1em
        border-bottom: 7px solid $colour.default
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        list-style-type: none
        transition: width .3s ease

        for material in $materials
            &-{material}
                border-bottom-color: $colour[material]
                background-image: "url(../img/featured-%s.jpg)" % s(material)

    a
        position: relative
        display: block
        height: 100%
        width: 100%

    svg
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        fill: white

    @media $screen.md
        flex-direction: row
        height: 720px
        overflow: hidden

        &-item
            width: 18%
            height: 720px
            margin: 0 1%

            &:hover
                width: 25%

