.map
    position: relative

    &-img
        margin: 0 auto

    &-list
        padding: 1em
        list-style: none
        columns: 2

    @media $screen.md
        &-list
            position: absolute
            top: 50%
            left: 16%
            width: 230px
            border-bottom: 7px solid $colour.crystal
            background-color: #f1eff0
            transform: translateY(-50%)
            columns: 1
