.modal
    position: fixed
    z-index: 300
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(white, .95)
    transform: translateY(0%)
    transition: transform .2s
    overflow: scroll

    &[aria-hidden=true]
        transform: translateY(-100%)

    &-iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border: none

    &-close
        {triggerButton}
        {topRightButton}

    &-search
        display: flex
        width: 100%
        height: 100%
        align-items: center

#modal-showcase
    .modal-close
        right: 2em
