.news
    //{clearfix}
    display: flex
    flex-wrap: wrap
    margin: 0 -1em

    a
        color: $colour.default
        text-decoration: none

    &-item
        width: calc(50% - 2em)
        margin: 0 1em 3em
        list-style: none

        &-preview
            position: relative
            margin-bottom: 1em
            padding-bottom: 0

            > img
                {responsive}

            > svg
            &:before
                opacity: 0
                transition: opacity .2s

            > svg
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                fill: white

            &:before
                position: absolute
                content: ''
                top: 0
                right: 0
                bottom: 0
                left: 0
                background-color: rgba($colour.default, .6)

            &:hover
                > svg
                &:before
                    opacity: 1

        &-date
            padding-bottom: 0
            text-transform: uppercase

        &-title
            padding-bottom: 1em
            font-size: 1em
            font-weight: bold
            line-height: 1.2

        &-desc
            line-height: 1.2

    @media $screen.md
        &-item
            width: calc(100%/3 - 2em)

            &-preview
                margin-bottom: 2em

            &-title
                font-size: 1.28em
