.twitterfeed
    font-size: .79em
    line-height: 1.2

    &-item
        list-style: none

    svg
        float: left
        margin: .25em 1em 0 0

    p
        overflow: hidden
        padding-bottom: 1em
