.videolauncher
    display: block
    position: relative
    margin-bottom: 2em

    svg
        position: absolute
        top: 50%
        left: 50%
        fill: white
        transform: translate(-50%, -50%)

    @media $screen.md
        margin-bottom: 6em
