blockquote
    margin: 0 auto
    padding: 1em 10%
    background-color: white
    font-size: _px2em(16px)
    text-align: center

    cite
        font-style: normal

    img
        margin: 0 auto

    p
        padding-bottom: 1em
        font-style: italic

    @media $screen.md
        width: 70%
