html
    font-size: 62.5%

body
    color: $colour.default
    font-family: $font.body
    font-size: unit($fontsize, 'em')
    line-height: 1.2
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale /* FF */

address
    font-style: normal
