.menu
    list-style: none

    > li
        padding-bottom: .5em
        font-size: _px2em(21px)
        text-transform: uppercase

        > ul
            font-size: .7em
            list-style: none

    a
        color: $colour.default
        text-decoration: none

        &:hover
            text-decoration: underline

    svg
        vertical-align: baseline
        fill: currentColor

    &-active
        arrowSize = .6em
        a
            position: relative
            display: inline-block
            color: $colour.pink

            &:before
                position: absolute
                bottom: 0
                width: 100%
                content: ''
                display: block
                border-bottom: 1px solid

            &:after
                position: absolute
                bottom: -2*arrowSize
                left: 50%
                content: ''
                display: block
                width: 0
                height: 0
                border: arrowSize solid transparent
                border-top-color: currentColor
                transform: translateX(-50%)

        li:not(.menu-active) a
            color: $colour.default

    @media $screen.sm
        svg
            transform: scale(2)

    @media $screen.md
        li
            padding: 0 .5em 1em
            display: inline-block
            font-size: _px2em(12px)

            &:first-child
                padding-right: 0

            > ul
                display: none

        &-expanded
            position: relative

            &:after
                content: ''
                display: block
                position: absolute
                bottom: 0
                left: 50%
                width: 0
                height: @width
                border: 10px solid transparent
                border-bottom-color: $colour.default
                transform: translateX(-100%)

    @media $screen.lg
        li
            padding: 0 1em 1em
            font-size: _px2em(13px)
