arrowSize = .6em

.menu
    list-style: none

    > li
        padding-bottom: .5em
        font-size: _px2em(21px)
        text-transform: uppercase

        > ul
            padding-top: .5em
            font-size: .7em
            list-style: none
            line-height: 1.5

            a
                text-decoration: none

    a
        color: $colour.default
        text-decoration: none

        &:hover
            text-decoration: underline

    svg
        vertical-align: baseline
        fill: currentColor

    &-active
        > a
            position: relative
            display: inline-block
            color: $colour.pink

            &:before
                position: absolute
                bottom: 0
                width: 100%
                content: ''
                display: block
                border-bottom: 1px solid

        li:not(.menu-active) a
            color: $colour.default

    @media $screen.sm
        svg
            transform: scale(2)

    @media $screen.md
        li
            padding: 0 .5em arrowSize
            display: inline-block
            font-size: _px2em(12px)

            &:first-child
                padding-right: 0

            > ul
                display: none

        &-active
            &:after
                position: absolute
                bottom: -2*arrowSize
                left: 50%
                content: ''
                display: block
                width: 0
                height: 0
                border: arrowSize solid transparent
                border-top-color: currentColor
                transform: translateX(-50%)

    @media $screen.lg
        li
            padding: 0 1em arrowSize
            font-size: _px2em(13px)
