.pager
    list-style: none
    text-align: center

    a
        font-size: _px2em(12x)
        color: $colour.default

        &:hover
            text-decoration: none

    li
        display: inline
        padding: 0 1em

    @media $screen.md
        font-size: 1em
