.quotes
    position: relative
    padding-bottom: 50px

    button
        position: absolute
        bottom: 0
        border: none
        background: none
        color: white
        cursor: pointer

        &:hover
            color: $colour.default

    &-previous
        transform: rotate(180deg)
        left: 0

    &-next
        right: 0

    @media $screen.md
        button
            top: calc(50% - 25px)
            bottom: auto

        &-previous
            left: 13%
            transform: translate(-100%, -50%) rotate(180deg)

        &-next
            right: 13%
            transform: translate(100%, -50%)
