.sectionnav
    li
        display: inline
        padding: 0 .5em

    a
        color: $colour.default
        text-transform: uppercase
        text-decoration: none

        &:hover
            color: $colour.pink

    &-active
        font-weight: bold

        a
            text-decoration: underline
