.sectionhead
    display: flex
    width: 100%
    min-height: 200px;
    padding: 1.5em 0
    background-color: rgba(white, .6)
    text-align: center
    align-items: center

    &-pink
        background-color: $colour.pink

    &-title
        color: $colour.pink
        font-size: _px2em(25px)
        line-height: 1
        text-transform: uppercase

        span
            display: block
            color: $colour.default
            font-weight: normal
            text-transform: none

    &-strongtitle
        color: $colour.pink
        font-size: _px2em(35px)
        font-weight: normal
        line-height: 1
        text-transform: none

        span
            display: block
            color: $colour.default
            font-size: 1.2em
            font-weight: bold
            text-transform: none

    &-subheading
        font-size: 1em
        font-weight: normal
        text-transform: none

    &-worktitle
        font-size: _px2em(32px)
        text-transform: uppercase

        &:after
            content: ''
            display: block
            width: 5.5em
            margin: .75em auto 0
            border-bottom: 6px solid
