.tIdentity
    h2
        font-size: 2em

        + p
            _bordered({mt: 1em})
            font-size: 1.071em
            text-transform: uppercase

    h3
        _bordered()
        margin-bottom: 1em
        color: $colour.default

        + p:not(.wrap-small)
            text-transform: uppercase
