.tMaterial
    h2
        _bordered({mt: 0em})
        margin-bottom: 1em

    h2 + p
        _bordered({mt: 2em, borderColour: #a7a7a7})
        margin-bottom: 1em

    span
        font-size: 1.423em

    for material in $materials
        &-{material}
            img
                border-bottom: 7px solid $colour[material]
