.tPresentation
    > h2
        display: inline-block
        background-color: $colour.crystal
        color: white
        padding: 0 .5em

    div h3, div h2
        _bordered()
        padding-bottom: 1em
        font-size: _px2em(18px)
        text-transform: none
        color: $colour.default

    img
        border-bottom: 7px solid $colour.crystal
