.r3colsFluid
    {clearfix}
    margin: 0 -1em

    &-child
        float: left
        width: 100%

    @media $screen.md
        &-child
            width: 50%
            padding-right: 2em

            &-lead
                width: 100%

    @media $screen.lg
        &-child
        &-child-lead
            width: calc(100%/3 - 2em)
            margin: 0 1em

        &-child-lead
            margin: 0
