.rCards
    {clearfix}
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 0 -1em
    list-style: none

    &-child
        position: relative
        width: calc(100% - 2em)
        margin: .5em auto

    @media $screen.md
        &-child
            width:  calc(100%/3 - 2em)
            margin: 1em


