.rCover
    display: flex
    align-items: center
    width: 100%
    //background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover

    &-content
        display: flex
        align-items: center
        justify-content: center

    covers = competences secteurs clients environnement news

    for covername in covers
        &-{covername}
            background-image: "url(../img/cover-%s.jpg)" % s(covername)

    @media $screen.sm
        &-content
            flex-wrap: wrap

            > div:first-child
                margin-bottom: 1em
