.rSector
    {clearfix}
    display: flex
    flex-wrap: wrap
    justify-content: center
    list-style: none

    li
        width: 160px
        height: @width
        margin: 1em 3em

        @media $screen.lg
            margin: 1em auto
