.tCertifications
    h2
        _bordered({w: 100px, borderColour: $colour.pink})

    .color-white
        h2:after
            border-color: white

    h3
        padding: .75em 0
        font-weight: normal
        text-transform: uppercase

    li
        {dashed}

    @media $screen.md
        h2:after
            margin-left: 0
