.tContact
    background: #f6f4f2

    h2
        font-size: _px2em(35px)
        color: $colour.pink
        text-transform: uppercase
        line-height: 1.2
        margin-bottom: 1em

    input[type="submit"]
        font-size: 1em

    .wrap
        background: #f6f4f2 url(../img/bg-contact.jpg) no-repeat center
        background-size: cover
