.tFormNewsletter
    background-color: #f1eff0

    h3
        font-size: _px2em(25px)

    input[type=text]
    input[type=email]
    label
    ::placeholder
        font-size: _px2em(16px)
        font-weight: bold

    input[type=text]
    input[type=email]
    textarea
        min-height: 2em
        padding: .3em .75em
        border: none
        text-align: left

        &::placeholder
            color: $colour.default

        &:focus
            background-color: rgba(white, 1)

    input[type=text]
    input[type=email]
        border-bottom: 6px solid $colour.default
        background-color: rgba(white, 0)
        transition background-color .2s, color .2s

    fieldset
        margin-right: 0
        padding: 0
        border: none

        > p
            padding-bottom: 0

