.tFooter
    font-weight: bold
    line-height: 1.2

    .menu
        li
            display: inline-block!important
            padding: 0 .5em!important
            font-size: _px2em(12px)!important

        &:after
            content: ''
            display: block
            width: 230px
            margin: 1em auto
            border: 2px solid $colour.default

