[class^="tHP"]
    h2
        font-size: _px2em(35px)
        padding-bottom: .1em
        text-transform: uppercase
        line-height: 1

    h3
        margin-bottom: .75em
        font-size: _px2em(24px)
        text-transform: uppercase
        line-height: 1

    p
        padding-bottom: 1em
        line-height: 1.2

.tHP
    // top section
    &-skills
    &-certification
    &-environment
        padding: 1.5em 1em
        background-repeat: no-repeat
        background-position: center
        background-size: cover

    &-skills
        position: relative

        h2
            color: $colour.pink
            font-weight: normal

            span
                display: block
                color: $colour.default
                font-size: 27px
                font-weight: bold
                text-transform: none

    &-certification
    &-environment
        h2
            font-size: _px2em(20px)

    &-certification
        color: white


    for bg in skills certification environment
        &-{bg}
            background-image: "url(../img/bg-hp-%s.jpg)" % bg


    @media $screen.lg
        &-skills
            h2
                span
                    font-size: 42px

            .cta
                position: absolute
                bottom: 1.5em


    // sectors section
    &-sectors
        h2
            display: inline-block
            font-weight: normal

        p
            margin-right: auto
            margin-left: auto
            line-height: 1.2

            &:after
                content: ''
                display: block
                width: 90%
                max-width: 490px
                margin: 1em auto
                border-top: 3px solid $colour.default


    // latest works & news section
    &-latest
        padding-top: 2em
        padding-bottom: 4em
        color: white

        a
            color: white
            font-size: _px2em(12px)
            text-transform: uppercase

            &:hover
                text-decoration: none

        h2
        > div p
            padding-right: 1rem
            padding-left: 1rem
            line-height: 1.2
            text-align: center

        h2
            font-size: _px2em(35px)
            text-transform: uppercase


    // newsletter section
    &-newsletter
        h3
            font-size: _px2em(25px)
            text-transform: uppercase


    // jobs
    &-jobs
        background: url(../img/bg-jobs.jpg) no-repeat calc(50% + 245px) center
        background-attachment: fixed

        h3
            font-weight: normal

        @media $screen.sm
            background: none
            text-align: center

        @media $screen.sm
            background-size: 50%
