.tSector
    font-size: _px2em(15px)

    h2
        _bordered({w: 100px, mt: 0.5em, mb: 0.5em, ml: 0em, borderColour: $colour.pink})

    p
        padding-bottom: .75em

    h3
        color: $colour.pink
        padding-bottom: .75em
        text-transform: uppercase

    &.color-white
        h2:after
            border-color: white
