.tSkill
    h2
        _bordered({ml: 0em})
        font-size: _px2em(25px)
        font-weight: normal
        text-transform: none

    p
        padding-bottom: 1em

    > div:nth-child(odd)
        padding-right: 1em
        padding-left: 1em

    > div:nth-child(even)
        display: none
        background: url(../img/bg-skills.jpg) no-repeat left center
        background-size: cover

    @media $screen.md
        > div:nth-child(odd)
            padding-right: 2em

        > div:nth-child(even)
            display: block
