.tSkill
    h2
        _bordered({ml: 0em})
        font-size: _px2em(25px)
        font-weight: normal
        text-transform: none

    p
        padding-bottom: 1em

    > div:nth-child(odd)
        padding-right: 1em
        padding-left: 1em

    > div:nth-child(even)
        display: none
        background-image: url(../img/bg-skills-peinture.jpg)
        background-position: left center
        background-repeat: no-repeat
        background-size: cover

    for bg in peinture vitre platre sol ravalement menuiserie
        &-{bg} > div:nth-child(even)
            background-image: "url(../img/bg-skill-%s.jpg)" % s(bg)

    @media $screen.md
        > div:nth-child(odd)
            padding-right: 2em

        > div:nth-child(even)
            display: block
