for i in 0..12
    // margins
    .ma{i}
        margin: i * 1em

    .mt{i}
        margin-top: i * 1em

    .mr{i}
        margin-right: i * 1em

    .mb{i}
        margin-bottom: i * 1em

    .ml{i}
        margin-left: i * 1em
        
    // paddings
    .pa{i}
        padding: i * 1em

    .pt{i}
        padding-top: i * 1em

    .pr{i}
        padding-right: i * 1em

    .pb{i}
        padding-bottom: i * 1em

    .pl{i}
        padding-left: i * 1em
