.r4cols
    width: 100%
    display: flex
    flex-direction: column

    @media $screen.sm
        &-child
            margin-bottom: 2em
            &:not(:last-child)
                _bordered({mt: 0})

    @media $screen.md
        flex-direction: row
        align-items: stretch

        &-child
            width: 25%
            padding: 0.5em 2em
            border-left: 1px solid $colour.default

            &:first-child
                border-left: none

